@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
  text-align: justify;
}

/*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999;
}
.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.preloader .loader .ytp-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}
.preloader .loader .ytp-spinner .ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  -moz-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  -o-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
}
.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -moz-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -o-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}
.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}
.preloader .loader .ytp-spinner-circle {
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  /* Spinner Color */
  border-color: #1863ff #1863ff #e6e6e6;
  border-radius: 50%;
  border-width: 6px;
}
.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #e6e6e6;
  -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -moz-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -o-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #e6e6e6;
  -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -moz-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -o-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}
@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}
@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}
@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}
.header {
  background: linear-gradient(to right, #eee6eb 0%, #fdd8f8 100%);
  padding: 10px 15px;
}
@media (max-width: 767px) {
  .header {
    padding: 0;
  }
}
.header__image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header__image {
    width: 130px;
  }
}
@media (max-width: 767px) {
  .header__image {
    width: 70px;
  }
}

.banner {
  position: relative;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .banner {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
.banner__image {
  height: 750px;
  width: 100%;
}
@media only screen and (min-width: 1400px) {
  .banner__image {
    height: 900px;
  }
}
@media (max-width: 767px) {
  .banner__image {
    height: 655px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .banner__image {
    height: 550px;
  }
}

/*Responsive*/
.container-g {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}
@media (max-width: 769px) {
  .container-g {
    width: 100%;
  }
}
@media (max-width: 391px) {
  .container-g {
    width: 100%;
  }
}
.container-g img {
  transition: ease-in-out 0.5s;
}
.container-g img:hover {
  transform: scale(1.05);
}

.wrapper-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nguyen-thi-huong {
  background-color: #f1b5b8;
}
.nguyen-thi-huong .container-left {
  background-color: #ffffff;
  flex-basis: 50%;
  position: relative;
  top: -40px;
  left: 20px;
  box-shadow: 20px 20px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
@media (max-width: 391px) {
  .nguyen-thi-huong .container-left {
    top: 0px;
    left: 0px;
  }
}
@media (max-width: 391px) {
  .nguyen-thi-huong .wrapper-inner {
    flex-direction: column;
  }
}
.nguyen-thi-huong .info {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 769px) {
  .nguyen-thi-huong .info {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 391px) {
  .nguyen-thi-huong .info {
    height: 300px;
  }
}
.nguyen-thi-huong .info h4 {
  margin-bottom: 20px;
}
.nguyen-thi-huong .info p {
  padding: 0 35px;
}
.nguyen-thi-huong .container-right {
  flex-basis: 50%;
}
.nguyen-thi-huong img {
  border-radius: 8px;
  width: 500px;
  height: 500px;
  object-fit: cover;
  position: relative;
  top: 30px;
  right: 0px;
}
@media (max-width: 769px) {
  .nguyen-thi-huong img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 391px) {
  .nguyen-thi-huong img {
    width: 200px;
    height: 200px;
  }
}

/*Vu Thi Ngoc*/
.vu-thi-ngoc {
  background-color: #f9e79b;
}
.vu-thi-ngoc .wrapper-inner {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  flex-direction: row-reverse;
  background-color: #f1c50e;
}
@media (max-width: 769px) {
  .vu-thi-ngoc .wrapper-inner {
    width: 80vw;
  }
}
@media (max-width: 391px) {
  .vu-thi-ngoc .wrapper-inner {
    flex-direction: column;
    width: auto;
    margin: 0 10px;
  }
}
.vu-thi-ngoc .container-left {
  flex-basis: 90%;
}
.vu-thi-ngoc .container-right {
  flex-basis: 50%;
  position: relative;
  width: 500px;
  height: 500px;
}
@media (max-width: 391px) {
  .vu-thi-ngoc .container-right {
    width: auto;
    height: auto;
  }
}
.vu-thi-ngoc .info {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 391px) {
  .vu-thi-ngoc .info {
    height: 300px;
  }
}
.vu-thi-ngoc .info h4 {
  margin-bottom: 20px;
}
.vu-thi-ngoc .info p {
  padding: 0 35px;
}
.vu-thi-ngoc .img-container {
  position: absolute;
  top: 50px;
  left: -50px;
}
@media (max-width: 769px) {
  .vu-thi-ngoc .img-container {
    top: 95px;
    left: -50px;
  }
}
@media (max-width: 391px) {
  .vu-thi-ngoc .img-container {
    top: 15px;
    left: 0px;
    position: relative;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  }
}
.vu-thi-ngoc img {
  border-radius: 10px;
  width: 400px;
  height: 400px;
  object-fit: cover;
}
@media (max-width: 769px) {
  .vu-thi-ngoc img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 391px) {
  .vu-thi-ngoc img {
    width: 200px;
    height: 200px;
  }
}

/*Dang Thi Duyen*/
.dang-thi-duyen {
  background-color: #5c97e6;
}
@media (max-width: 391px) {
  .dang-thi-duyen {
    height: 700px;
  }
}
@media (max-width: 769px) {
  .dang-thi-duyen .container-right {
    position: relative;
    top: 30px;
  }
}
@media (max-width: 391px) {
  .dang-thi-duyen .container-right {
    position: relative;
    top: 38px;
  }
}
@media (max-width: 769px) {
  .dang-thi-duyen .wrapper-inner {
    flex-direction: column;
  }
}
@media (max-width: 391px) {
  .dang-thi-duyen .wrapper-inner {
    flex-direction: column;
  }
}
.dang-thi-duyen .img-container {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  padding: 20px 20px 1px 20px;
  background-color: #ffffff;
  transform: rotate(10deg);
  width: 450px;
  border-radius: 5px;
}
@media (max-width: 769px) {
  .dang-thi-duyen .img-container {
    width: 342px;
  }
}
@media (max-width: 391px) {
  .dang-thi-duyen .img-container {
    width: 240px;
  }
}
.dang-thi-duyen .info {
  background: #ffffff;
  padding: 10px;
  border-radius: 5px;
  transform: rotate(-10deg);
  position: relative;
  left: -30px;
}
.dang-thi-duyen .info h4 {
  margin-bottom: 20px;
}
@media (max-width: 769px) {
  .dang-thi-duyen .info {
    transform: rotate(0deg);
    left: 0;
    margin: 0 20px;
  }
}
@media (max-width: 391px) {
  .dang-thi-duyen .info {
    left: 0;
    top: 15px;
    width: 300px;
  }
}
.dang-thi-duyen .fa-heart {
  color: #ee204d;
  font-size: 30px;
}
.dang-thi-duyen .hearts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 26px 80px;
}
.dang-thi-duyen img {
  object-fit: cover;
}
@media (max-width: 769px) {
  .dang-thi-duyen img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 391px) {
  .dang-thi-duyen img {
    width: 200px;
    height: 200px;
  }
}

/*Doan Thuy Phuong*/
.doan-thuy-phuong {
  background-color: #f1d1a7;
}
.doan-thuy-phuong .wrapper-inner {
  flex-direction: row-reverse;
  background-color: #f1c285;
  border-radius: 20px;
}
.doan-thuy-phuong .container-left {
  flex-basis: 60%;
}
.doan-thuy-phuong .container-right {
  flex-basis: 40%;
}
.doan-thuy-phuong .img-container img {
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}
@media (max-width: 769px) {
  .doan-thuy-phuong .img-container img {
    width: 300px;
    height: 270px;
  }
}
@media (max-width: 391px) {
  .doan-thuy-phuong .img-container img {
    width: 200px;
    height: 200px;
  }
}
.doan-thuy-phuong .info {
  margin: 30px;
  text-align: center;
}
.doan-thuy-phuong .info h4 {
  margin-bottom: 20px;
}

/*Ta Thi Minh Huyen*/
.ta-thi-minh-huyen {
  background-color: #acf3db;
}
.ta-thi-minh-huyen .wrapper-inner {
  flex-direction: column-reverse;
}
.ta-thi-minh-huyen .container-left {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}
@media (max-width: 769px) {
  .ta-thi-minh-huyen .container-left {
    margin: 0 20px;
  }
}
@media (max-width: 391px) {
  .ta-thi-minh-huyen .container-left {
    margin: 0;
  }
}
.ta-thi-minh-huyen .info h4 {
  margin-bottom: 20px;
}
.ta-thi-minh-huyen .img-container {
  position: relative;
  top: 10px;
  right: -85px;
}
@media (max-width: 391px) {
  .ta-thi-minh-huyen .img-container {
    top: 12px;
    right: -80px;
  }
}
.ta-thi-minh-huyen .img-container img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}
@media (max-width: 769px) {
  .ta-thi-minh-huyen .img-container img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 391px) {
  .ta-thi-minh-huyen .img-container img {
    width: 200px;
    height: 200px;
  }
}

.khanh-thuy-hien {
  background-color: #f9e79b;
}
.khanh-thuy-hien__img {
  padding: 45px 30px;
  overflow: hidden;
}
.khanh-thuy-hien__img img {
  cursor: pointer;
  border-radius: 6px;
  transition: transform 1s ease;
}
.khanh-thuy-hien__img:hover img {
  transform: scale(1.05);
}
.khanh-thuy-hien__card {
  padding-top: 45px;
  padding-bottom: 45px;
}
.khanh-thuy-hien__card .card {
  border-radius: 10px;
}

.doly {
  background-color: #fff;
  padding: 45px;
}
.doly__wrapper {
  border: 1px solid #e6e6e6;
  border-radius: 6px;
}
.doly__card {
  background-color: #fff3f1;
  border-radius: 6px 0 0 6px;
  padding: 24px 48px;
}
.doly__title {
  font-size: 60px;
  font-weight: 800;
  line-height: 72px;
}
.doly__text {
  margin-top: 50px;
  font-size: 14px;
  line-height: 25px;
}
.doly__img img {
  border-radius: 0 6px 6px 0;
}

.love {
  position: absolute;
  background: url(../images/heart.png);
  pointer-events: none;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-size: cover;
  animation: love 10s linear infinite;
}

.beautiful-women {
  background: linear-gradient(to right, #eee6eb 0%, #fdd8f8 100%);
  overflow-x: hidden;
  padding: 5rem 0;
}
.beautiful-women .women-right {
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 8px 5px #b6abab;
  -moz-box-shadow: 0px 0px 8px 5px #b6abab;
  box-shadow: 0px 0px 8px 5px #b6abab;
}
.beautiful-women .women-right img {
  border-radius: 5px;
}
.beautiful-women .women-right img:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}
.beautiful-women .women-right h2 {
  padding: 2rem;
}
.beautiful-women .women-center {
  padding: 2rem;
}
.beautiful-women .women-center img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.beautiful-women .women-center h2 {
  padding: 1rem 0;
}
.beautiful-women .women-center p {
  animation-delay: 0.5s;
}
.beautiful-women .women-center .women__ele {
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 10px 5px 0px 0px #f5fcde;
  -moz-box-shadow: 10px 5px 0px 0px #f5fcde;
  box-shadow: 10px 5px 0px 0px #f5fcde;
}
.beautiful-women .women-center .women__ele p {
  padding: 2rem;
}
.beautiful-women .card {
  margin: 1rem 0;
  -webkit-box-shadow: 14px 1px 5px 5px #c0b6b6;
  -moz-box-shadow: 14px 1px 5px 5px #c0b6b6;
  box-shadow: 14px 1px 5px 5px #c0b6b6;
}
.beautiful-women .card img {
  height: 250px;
  object-fit: cover;
}

@keyframes love {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -1000%);
    opacity: 0;
  }
}
.common-height {
  min-height: 745px;
  padding-bottom: 10px;
}

.thi-thanh {
  background: linear-gradient(to right, #eee6eb 0%, #72eee4 100%);
}

.thuy-hang {
  background: linear-gradient(to left, #eee6eb 0%, #71ee519a 100%);
}
.bao-ngoc {
  background: linear-gradient(to right, #eee6eb 0%, #fdd8f8 100%);
}
.lan-hanhE {
  background: linear-gradient(45deg, #eee6eb 0%, #f1b5b8 100%);
}

@media (max-width: 767px) {
  .slider-img {
    order: 1;
  }
}
.slider-img .img img {
  width: 500px;
  height: 500px;
  margin: 60px 31px 0 auto;
  object-fit: contain;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 30px;
}
@media (max-width: 767px) {
  .slider-img .img img {
    margin: 0 31px 0 auto;
  }
}
.slider-img .img-round img {
  object-fit: fill;
  width: 350px;
  height: 300px;
  border-radius: 20%;
  margin: auto;
}

.card {
  padding: 20px;
}
@media (max-width: 767px) {
  .card {
    text-align: center !important;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.card .name {
  font-weight: 600;
  font-size: 27px;
  padding-bottom: 10px;
}
.card .wishes {
  font-size: 16px;
}

.card-round {
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  .card-round {
    text-align: center !important;
  }
}
.card-round .name-round {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
}
.card-round .wishes-round {
  font-size: 16px;
}

.girl {
  background-color: #fdd8f8;
  padding: 20px;
  text-align: center;
}
.girl p {
  text-align: justify;
  margin: 0 20px;
}
.girl img {
  width: 100%;
  height: 450px;
  border-radius: 5px;
  object-fit: cover;
}
.girl-title {
  font-weight: bold;
  font-size: 1.3rem;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.girl .girl-el {
  text-align: center;
  padding: 20px 5%;
}
@media (max-width: 768px) {
  .girl .girl-el {
    padding: 15px 15%;
  }
}
.girl .girl-el__box {
  border-radius: 5px;
  padding: 3px;
  background: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.girl .girl-el__box--sm {
  min-height: 800px;
}

/*# sourceMappingURL=style.css.map */
