.common-height {
    min-height: 745px;
    padding-bottom: 10px;
}

.thi-thanh {
    background: linear-gradient(to right, #eee6eb 0%, #72eee4 100%);
    
}

.thuy-hang {
    background: linear-gradient(to left, #eee6eb 0%, #71ee519a 100%);
}

.lan-hanhE {
    background: linear-gradient(45deg, #eee6eb 0%, #f1b5b8 100%);

}

.slider-img {
    @media #{$xs} {
        order: 1;
      }

    .img {
        img {
            width: 500px;
            height: 500px;
            margin: 60px 31px 0 auto;
            object-fit: contain;
            display: block;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            border-radius: 30px;

            @media #{$xs} {
                margin: 0 31px 0 auto;
              }
        }
    }

    .img-round {
        img {
            object-fit: fill;
            width: 350px;
            height: 300px;
            border-radius: 20%;
            margin: auto;
        }
    }
}

.card {
    padding: 20px;
    @media #{$xs} {
        text-align: center !important;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .name {
        font-weight: 600;
        font-size: 27px;
        padding-bottom: 10px;
    }

    .wishes {
        font-size: 16px;
    }
    
}

.card-round {
    padding-bottom: 20px;
    @media #{$xs} {
        text-align: center !important;
    }

    .name-round {
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
    }

    .wishes-round {
        font-size: 16px;

    }

}
